.right {
     position: absolute;
     right: 0px;
     width: 300px;
 }

.text3d(@color) {
  color: @color;
  text-shadow: 1px 1px 0px darken(@color, 5%),
               2px 2px 0px darken(@color, 10%),
               3px 3px 0px darken(@color, 15%),
               4px 4px 0px darken(@color, 20%),
               4px 4px 2px #000;
}





body {
    background-color:#888888;
    -webkit-font-smoothing:antialiased;
}

#title {
     font-size:x-large;
     .text3d(#ffd800);
     .right;

}

#IP {
    font-size:x-large;
    width:200px;
    text-align:center;

 }

#headerName {
    font-weight:bold
}

#IP
{
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
}

#disqusdiv
{
  width:140px;
  height:20px;
  
  line-height: 20px;
  color: #fff;
  font-size: 15px;
  padding:5px;
  Border:3px;
  cursor:pointer;
  text-align:center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#disqusdiv:hover
{
    background:#222;
    color:#fff;
}
