extends ../layout/pc

block body
    include ../frag/navbar-ip
    br
    .container
        .row
            .col-md-12
                div.panel.panel-default
                  div.panel-heading
                    h3.panel-title Why yet another website to show your IP
                  div.panel-body
                    p Simple UI
                    p No intrusive ads
                    p API Provided
                    p Show your browser header information.
                    p Open Source. Details below.

            .col-md-12
                div.panel.panel-default
                  div.panel-heading
                    h3.panel-title Everything Open
                  div.panel-body
                    p Open Source: 
                      a(href="https://github.com/top2tech/IpUFO") https://github.com/top2tech/IpUFO
                    p Open Image: 
                      a(href="https://registry.hub.docker.com/u/top2tech/ipufo") https://registry.hub.docker.com/u/top2tech/ipufo
                    p Open Service: You can send pull request in github, after it's accepted, this service will be updated with your code.
                    p All related information will be open as much as possible. e.g. Future logging(IP obfuscated) will also be open so everyone can see it.

            .col-md-12
                div.panel.panel-default
                  div.panel-heading
                    h3.panel-title Building Blocks
                  div.panel-body
                    p NodeJS
                    P ExpressJS
                    P Jade
                    P Bootstrap 
                    p Running in docker
                    p Hosted in Windows Azure Iaas Linux VM (Ubuntu)

            .col-md-12
                div.panel.panel-default
                  div.panel-heading
                    h3.panel-title Contact
                  div.panel-body
                    p You're welcome to send email to 
                      a(href="mailto:info@IpUFO.com") info@IpUFO.com
                    p or leave comments here: 
                      a(href="/comments") Comments