extends ../layout/pc

block body
  include ../frag/navbar-ip

  div.jumbotron
    div.container
      p Your IP:
      h1.small-pad #{requestInfo.endpoint.ip}
      p Your Port: #{requestInfo.endpoint.port}

  div.panel.panel-default
    div.panel-heading
       h4 Your Browser Information:
    div.panel-body
      .container
        .row
          -for (var headerName in requestInfo.headers)
            .col-md-12.grid-bottomline
              h4 #{headerName}:
              p #{requestInfo.headers[headerName]}

