doctype html
html
  head
    title IpUFO - Get information of your ip address and browser request headers including user-agent
    meta(keywords="ip, ip address, my ip address, my ip, browser header, user-agent")
    link(href="css/default.css", rel="stylesheet")
  body
    block body
    